.footer__bottom {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 480px) {
  .footer__bottom {
    display: block;
    text-align: center;
  }
}
