.promo {
  background-image: url(../../../images/promo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 1100px) {
  .promo {
    background-position: left center;
  }
}
